
.snakemake/

lib/__pycache__/
modules/__pycache__/
ERR*/
studies/
slurm*
nohup.*
BC-1_A.log
bt-474_A.log
jan4*
modules/PSEUDOBULK_CELLLINE/
sample_batches/
credentials_files/ega_credentials.txt
logs/BC-1.log logs/BT-474.log logs/cell.txt logs/HT-1376.log logs/JSC-1.log logs/MDA-MB-453.log logs/MPS000257.out
logs/
